<!-- <h1>movie id is {{ id }}</h1> -->
<div class="movietrailercard">
  <iframe
    width="720"
    height="380"
    [src]="movie.trailer"
    title="Jawan | Official Hindi Trailer | Shah Rukh Khan | Atlee | Nayanthara | Vijay S | Deepika P | Anirudh"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <!-- <img src="{{ movie.trailer }}" alt="Movie-poster" class="poster" /> -->
  <div class="moviecontent">
    <div class="mname">
      <span class="name">{{ movie.name }}</span>
      <button (click)="toggle()" mat-icon-button aria-label="Expand Less">
        <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>
        <ng-template #moreIcon>
          <mat-icon>expand_more</mat-icon>
        </ng-template>
      </button>
      <div class="movie-genre-container">
        <mat-icon>sell</mat-icon>
        <p>{{ getLabelGenres(movie)?.join(" · ") }}</p>
      </div>
      <span class="name">⭐{{ movie.rating }}</span>
    </div>
    <div class="movie-extra-detail">
      <em>{{ movie?.releaseYear | date : "MMM YYYY" }}</em>
      <mat-chip>{{ movie.censorRating }}</mat-chip>
      <div class="movie-language-container">
        <mat-icon>translate</mat-icon>
        <p>
          {{ getLabelLanguages(movie)?.join(", ") }}
        </p>
      </div>
    </div>
    <p *ngIf="show" class="content">{{ movie.summary }}</p>
    <div class="movie-cast-container">
      <mat-icon>theater_comedy</mat-icon>
      <p>Starring {{ movie.cast?.join(", ") }}</p>
    </div>
    <app-counter></app-counter>
  </div>
</div>
