.container { 
    display: flex;
    justify-content: space-around; 
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}
.input{
    display: grid;
justify-content: center;
/* gap:10px; */
margin: 0.5rem 0;
}

nav{
    width:100%;
    display: flex;
    position: sticky;
    gap: 1rem;
    background-color: whitesmoke;
    top: 0px;
}

.user-list-container {
    display: grid;
    place-content: center;
  }
  
  .router-container {
    padding: 1.5rem;
  }
  
  nav button {
    text-transform: uppercase;
  }