<mat-card>
  <div class="moviecard">
    <img src="{{ movie.poster }}" alt="Movie-poster" class="poster" />
    <p *ngIf="movie.featured" class="moviebadge">Featured</p>
    <div class="moviecontent">
      <div class="mname">
        <span class="name">{{ movie.name }}</span>
        <button (click)="toggle()" mat-icon-button aria-label="Expand Less">
          <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>
          <ng-template #moreIcon>
            <mat-icon>expand_more</mat-icon>
          </ng-template>
        </button>
        <button class="info" (click)="getdetails()">
          <mat-icon>info</mat-icon>
        </button>
        <span class="name">⭐{{ movie.rating }}</span>
      </div>
      <em>{{ movie.releaseYear | date : "MMMM YYYY" }}</em>
      <p *ngIf="show" class="content">{{ movie.summary }}</p>
      <app-counter
        [count]="movie.like"
        [dcount]="movie.dislike"
        (likeCount)="updateLikes($event)"
        (dislikeCount)="updateDislikes($event)"
      ></app-counter>
      <span class="crudbuttons">
        <button
          class="deletebutton"
          mat-icon-button
          color="warn"
          (click)="deleteMovie()"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          class="editbutton"
          mat-icon-button
          color="primary"
          (click)="editMovie()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </span>
    </div>
    <!-- <button (click)="delMovie()">Delete Movie</button> -->
  </div>
</mat-card>
